Package: com.chikuwa.screenshotflashflipswitch
Name: ScreenShotFlashFlipSwitch
Depends: mobilesubstrate, com.a3tweaks.flipswitch
Version: 0.0.1
Architecture: iphoneos-arm
Description: A Simple Switch for the Flipswitch API!
Maintainer: Chikuwa
Author: Chikuwa
Section: Addons (Flipswitch)
